.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #1e2438;
  box-shadow: 0 0 18px 0 #13151d;
}

.video-feed {
  width: 800px;
  height: 600px;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #171b29;
}

.video-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  height: 600px;
  min-height: 600px;
  min-width: 800px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #191d2a;
}

.control-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #232a42;
}

.form {
  margin-bottom: 0px;
  background-color: transparent;
}

.success-message {
  background-color: transparent;
}

.error-message {
  background-color: transparent;
}

.control-grid {
  width: 310px;
  height: 220px;
  padding: 9px 16px;
  grid-auto-flow: row;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.tab {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #303956;
  color: hsla(0, 0%, 100%, 0.8);
  text-align: center;
}

.tab.w--current {
  background-color: #1e2438;
  color: hsla(0, 0%, 100%, 0.8);
}

.manual-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px none #141824;
  background-color: #1e2438;
}

.z-slider {
  padding-top: 36px;
  padding-bottom: 36px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.control-button {
  width: 60px;
  height: 60px;
  padding: 0px;
  background-color: transparent;
  font-family: 'Fa solid 900', sans-serif;
  color: #fff;
  font-size: 52px;
  line-height: 55px;
  text-align: left;
}

.control-button.solid {
  width: 46px;
  height: 46px;
  padding: 0px;
  border-radius: 8px;
  background-color: #303956;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 34px;
  line-height: 48px;
  text-align: center;
}

.control-button.solid.home {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 46px;
  font-weight: 700;
}

.control-button.blank {
  font-family: 'Open Sans', sans-serif;
  color: #343e5f;
  font-size: 24px;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
}

.video-icon {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Fa solid 900', sans-serif;
  color: #2c3653;
  font-size: 60px;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.slide-reader {
  background-color: #232a42;
}

.read-heading {
  padding: 14px 32px;
  border-bottom: 1px solid #2e3a5f;
  font-family: 'Open Sans', sans-serif;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 16px;
  text-align: left;
}

.navigator {
  max-width: 410px;
  margin-right: auto;
  margin-left: auto;
  padding: 12px 32px 24px;
}

.label {
  font-family: 'Open Sans', sans-serif;
  color: #a2adcf;
  font-size: 13px;
  font-weight: 400;
}

.start-button {
  margin-top: 12px;
  border-radius: 8px;
  background-color: #515b7a;
}

.select-field {
  max-width: 350px;
  border: 1px none #000;
  border-radius: 8px;
  background-color: #303956;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 13px;
  line-height: 18px;
}

.reports {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.report {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.report-icon {
  width: 60px;
  height: 60px;
  margin: 12px;
  border-radius: 8px;
  background-color: #283049;
  font-family: 'Fa solid 900', sans-serif;
  color: #d6d7dd;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
}

.report-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.report-title {
  margin-top: 6px;
  margin-bottom: 4px;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.report-time {
  color: #7e89aa;
  font-size: 12px;
}

.grid {
  display: none;
  padding: 32px;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  justify-items: start;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto;
}

.view-sq {
  width: 100%;
  height: 24px;
  background-color: hsla(0, 0%, 100%, 0.07);
  font-size: 12px;
  line-height: 12px;
}

.commands {
  overflow: auto;
  padding: 18px 32px 32px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid none none;
  border-width: 1px;
  border-color: #2e3a5f #000 #000;
  font-family: 'Open Sans', sans-serif;
  color: #abb0c2;
  font-size: 12px;
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .grid {
    grid-auto-flow: row;
    grid-row-gap: 2px;
  }

  .view-sq {
    width: 40px;
    height: 30px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .grid {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
  }
}

#w-node-96de5761f0d2-192f153e {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0d3-192f153e {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0d5-192f153e {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0d6-192f153e {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0d8-192f153e {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0da-192f153e {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0dc-192f153e {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0de-192f153e {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0e0-192f153e {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0e1-192f153e {
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-96de5761f0e3-192f153e {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0e4-192f153e {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0d2-3c0cc8ef {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0d3-3c0cc8ef {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0d5-3c0cc8ef {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0d6-3c0cc8ef {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0d8-3c0cc8ef {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0da-3c0cc8ef {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0dc-3c0cc8ef {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0de-3c0cc8ef {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0e0-3c0cc8ef {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0e1-3c0cc8ef {
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-96de5761f0e3-3c0cc8ef {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-96de5761f0e4-3c0cc8ef {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-6145c9736894-3c0cc8ef {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}